h1 {
  margin: 5%;
  font-variant: small-caps;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.optionItem {
  width: 25%;
  aspect-ratio: 1;
  margin: 5%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  cursor: pointer;
  transition-duration: 0.2s;
  color: white;
  border: 0px;
}
.optionItem:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  box-shadow: black 0px 0px 15px;
}
