h1 {
  margin: 5%;
  font-variant: small-caps;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.optionItem {
  width: 25%;
  aspect-ratio: 1;
  margin: 5%;
  background-color: tomato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  cursor: pointer;
  transition-duration: 0.2s;
  color: white;
  border: 0px;
}
.optionItem:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0, 0.86, 0.7, 1.32);
  box-shadow: black 0px 0px 15px;
}

.optionItem.hand {
  font-size: 0rem;
  padding: 10px;
  background-color: transparent;
}
.optionItem.hand:hover {
  font-size: 3rem;
  box-shadow: transparent 0px 0px 0px 0px;
}
