h1 {
  margin: 5%;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.optionItem {
  width: 25%;
  aspect-ratio: 1;
  margin: 5%;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}
